.sidebar {
    width: 200px;
    height: 100%;
    background-color: #34495e; /* Darker blue background */
    color: #fff; /* White text color */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }
  .menu li a {
    color: #fff; /* White text color */
    text-decoration: none;
  }

  .menu li {
    margin-bottom : 15px;
  }

  .menu {
    list-style-type: none;
    padding: 10px;
  }
  .menu li a:hover {
    color: #ccc;
    cursor : pointer;
  }
  