.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #898F9C; /* Light Gray */
    color: #333333; /* Dark text */
    padding-top: 3%;
    box-sizing: border-box;
    border-radius: 5px;
    padding : 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 90px;
  }
  .menu li a {
    color: #333333;
    text-decoration: none;
  }

  .menu li {
    font-size: 20px;
    margin-bottom : 15px;
    text-align: center;
    height : 40px;
    width : auto;
  }

  .menu li:hover{
    background-color : lightblue;
    cursor : pointer ; 
  }
  .menu {
    list-style-type: none;
    padding : 20px;
  }
  .menu li a:hover {
    cursor : pointer;
    background-color: lightblue;
  }
  