<!-- body.component.html -->
<div>
    <h2>List of Stocks</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Logo</th>
          <th>Gain/Loss since Yesterday</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks" (click)="goToStockDetails(stock.id)">
          <td>{{ stock.name }}</td>
          <td><img [src]="stock.logoUrl" alt="{{ stock.name }} Logo" height="50" width="50"></td>
          <td [ngClass]="{'positive': stock.gainOrLoss > 0, 'negative': stock.gainOrLoss < 0}">
            {{ stock.gainOrLoss > 0 ? '+' : '' }}{{ stock.gainOrLoss }}%
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
